@model Publications.Models.Statistisc.StatisticsFilter

@{
    ViewBag.Title = "Statystyki";
    Layout = "_Layout";
}


<div class="row">
    <div class="col-sm-4">
        <<h3>Statystyki</h3>
    </div>
    <div class="col-sm-6">
        <div class="pull-right">
            <button class="btn btn-primary " id="btnSave" style="margin-top:20px;"><span class="glyphicon glyphicon-save"></span> Zapisz</button>
            <button class="btn btn-danger " style="margin-top:20px;">Anuluj</button>
        </div>
    </div>
</div>
<br />
<div class="row alertContainer" hidden>
    <div class="alert col-sm-10">
        <strong id="saveStatus"></strong>
    </div>
</div>

<div>
    <form asp-controller="Statistics" asp-action="ShowStatistics" method="post" class="form-horizontal">
           
        <label class="control-label">Wybierz okres czasu:</label>
        <div class="form-group">
            
            <div class="col-sm-1">
                <label class="control-label">Start:</label>
            </div>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.StartOfTimeAmount, new {htmlAttributes = new {@class = "form-control"}})

            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-1">
                <label class="control-label">Koniec:</label>
            </div>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.EndOfTimeAmount, new { htmlAttributes = new { @class = "form-control" } })
                
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-1">
                <label class="control-label">Autor</label>
            </div>
            <div class="col-sm-10">
                @Html.DropDownListFor(o => o.AuthorId, new SelectList(Model.Authors, "AuthorId", "FullName", Model.Authors.FirstOrDefault()?.AuthorId))

            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-1">
                <label class="control-label">Dziedzina wiedzy:</label>
            </div>
            <div class="col-sm-10">
                @Html.DropDownListFor(o=>o.KnowledgeBranchId, new SelectList(Model.BranchesOfKnowledge, "BranchOfKnowledgeId", "Name", Model.BranchesOfKnowledge.FirstOrDefault()?.BranchOfKnowledgeId))
            </div>
        </div> 
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Zatwierdź" class="btn btn-default" id="Createbtn" />
            </div>
        </div>
    </form>
</div>




