@model Publications.Models.Entities.BranchOfKnowledge

<tr>
    <td class="col-md-8">
        <input class="form-control name" />
    </td>
    <td class="col-md-4">
       
        <button type="button" class="btn btn-success AddBranch">
            <span class="glyphicon glyphicon-plus"></span> Dodaj pole
        </button>

        <button type="button" class="btn btn-danger RemoveBranch" style="display:none;">
            <span class="glyphicon glyphicon-remove "></span> Usuń pole
        </button>
       
    </td>
</tr>
<script type="text/javascript">
    $(".AddBranch").click(function () {
        $.ajax({
            url: "@Url.Action("BranchRow")",
            type: "GET",
            success: function (response) {
                $(".AddBranch").hide();
                $(".RemoveBranch").show();
                $("#Branches").append(response);
            }
        });
    });
    $(".RemoveBranch").click(function () {
        $(this).closest("tr").remove();
    });
</script>
