@model Publications.Models.ViewModels.FieldValueVM

<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.Name);
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Value);
    </td>
</tr>