@model Publications.Models.ViewModels.TemplateFieldValueVM

@{
    var templates = new List<SelectListItem>();
    foreach (Publications.Models.Entities.PublicationTemplate item in Model.publicationTemplates)
    {
        if (item.IsActive)
        {
            templates.Add(new SelectListItem() { Value = item.PublicationTemplateId.ToString(), Text = item.Name });
        }
    }
}

<select asp-items="templates" onselect="TemplateSelect" class="form-control" id="PublicationTemplate"></select>

<div class="col-md-10" id="FieldValueList">
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "@Url.Action("FieldValueRow")",
            type: "GET",
            data: @Model.FieldValuesVM,
        data: {
            templateId: PublicationTemplate.value

        },
        success: function (response) {
            $("#FieldValueList").html(response);
        },
        error: function() {            
        }
    })
    })
    $("#PublicationTemplate").change(function () {
        $.ajax({
            url: "@Url.Action("FieldValueRow")",
            type: "GET",
            data: {
                templateId: PublicationTemplate.value
            },
            success: function (response) {
                $("#FieldValueList").html(response);
            },
            error: function() {            
            }
        })
        });
</script>

